<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIeLeR7a9RWPuVFtt3UcDF9iA4laEtzB8</string>
	<key>GCM_SENDER_ID</key>
	<string>1068618348210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lms</string>
	<key>PROJECT_ID</key>
	<string>library-management-syste-4382a</string>
	<key>STORAGE_BUCKET</key>
	<string>library-management-syste-4382a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068618348210:ios:9f30be593d5ac23bb27bab</string>
</dict>
</plist>